/*@font-face{
  font-family: "BentonSans";
  src: url("http://s1.ft-static.com/m/font/ft-velcro/bentonsans-regular.eot");
  src: url("http://s1.ft-static.com/m/font/ft-velcro/bentonsans-regular.eot?#iefix") format("embedded-opentype"), 
  url("http://interactivegraphics.ft-static.com/inc/fonts/BentonSansRegular.woff") format("woff"),
  url("http://interactivegraphics.ft-static.com/inc/fonts/BentonSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "BentonSans";
  src: url("http://s1.ft-static.com/m/font/ft-velcro/bentonsans-bold.eot");
  src: url("http://s1.ft-static.com/m/font/ft-velcro/bentonsans-bold.eot?#iefix") format("embedded-opentype"), 
  url("http://interactivegraphics.ft-static.com/inc/fonts/BentonSansBold.woff") format("woff"),
  url("http://interactivegraphics.ft-static.com/inc/fonts/BentonSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}*/
body {
  font-family:"BentonSans",sans-serif;
  cursor:default;
  background-color:#fff1e0;
  color: #333;
  font-size: 10px;
}


h1 {
  text-rendering: optimizeLegibility;
  font-size: 50px;
  margin-top: .3em;
  margin-bottom: 0;
}

.wrapper div {
  margin: 35px 35px;
  width: 980px;
}

/* For centering
.wrapper {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* ================================================================================
    SLIDER
 ================================================================================ */
.d3-slider-handle {
position: absolute;
width: 1.2em;
height: 1.2em;
border: 0px solid #d3d3d3;
border-radius: 12px!important;
background: orangered!important;
z-index: 3;
}

.d3-slider-horizontal {
height: .2em!important;
background-color:#cec6b9;
}

.d3-slider-handle:hover {
background: orange!important;
border: 0px solid orange;
}

/* ================================================================================
    BARS
 ================================================================================ */

.respondentsBar {
  fill: orange;
}

.respondentsBar:hover {
  fill: orangered ;
}

.employedBar {
  fill: #ffc65d;
}

.employedBar:hover {
  fill: #ff9b22 ;
}


.furtherStudiesBar {
  fill: #7bc8a4;
}

.furtherStudiesBar:hover {
  fill: #3b9e6b ;
}

.vacationBar {
  fill: #4cc3d9;
}

.vacationBar:hover {
  fill: #1797ba ;
}

.vocationalBar {
  fill: #93648D;
}

.vocationalBar:hover {
  fill: #56274f ;
}

.unemployedBar {
  fill: #f16745;
}

.unemployedBar:hover {
  fill: #e62a13 ;
}

/* ================================================================================
    BUTTONS
 ================================================================================ */


/* ================================================================================
    D3 TOOLTIP
 ================================================================================ */
.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}